@page "/moderation"
@inject UserRegistrationService userRegistrationService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Moderator page</PageTitle>

<h1>Moderation page</h1>

<p>All users: </p>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Creation date</th>
                <th>Phone num</th>
                <th>Edit Profile</th>
                <th>Edit Cart</th>
                <th>Edit Orders</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td>@user.DateOfCreating</td>
                    <td>@user.PhoneNumber</td>
                    <td><button @onclick="(() => EditUser(user.Email))">Edit Profile</button></td>
                    <td><button @onclick="(() => EditCart(user.Id))">Edit Cart</button></td>
                    <td><button @onclick="(() => EditOrders(user.Id))">Edit Orders</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
	private UserModel[]? users;

	protected override async Task OnInitializedAsync()
	{
        // https://www.youtube.com/watch?v=2moh18sh5p4&ab_channel=IAmTimCorey
		users = await Task.Run(() => userRegistrationService.GetAllUsers().ToArray());
        //https://learn.microsoft.com/en-us/training/modules/interact-with-data-blazor-web-apps/5-exercise-access-data-from-blazor-components
	}

    private void EditUser(string email)
    {
        NavigationManager.NavigateTo($"/editprofile/{email}");
    }

    private void EditCart(int? id)
    {
        NavigationManager.NavigateTo($"/cart/{id}");
    }

    private void EditOrders(int? id)
    {
        NavigationManager.NavigateTo($"/orders/{id}");
    }
}
