@page "/orders/{userId:int}"
@inject OrderStorageService OrderStorageService
@inject UserRegistrationService UserRegistrationService
@inject NavigationManager NavigationManager
@using KrisNikShopProject.Components.Pages

@rendermode InteractiveServer
<h3>OrderUserPage</h3>

@if (orderItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var item in orderItems)
        {
            <div class="row">
                <div class="col-md-4">
                    <img src="@item.Image" alt="@item.Name" class="img-fluid" />
                </div>
                <div class="col-md-4">
                    <h5>@item.Name</h5>
                    <p>@item.Description</p>
                    <p>Price: @item.Price</p>
                    <p>Quantity: @item.Quantity</p>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" @onclick="() => ShowOrderDetails(item)">Details</button>
                </div>
            </div>
            <hr />
        }
    </ul>
}

@code {
    [Parameter]
    public int UserId { get; set; }

    private List<OrderModel>? orderItems;

    protected override async Task OnInitializedAsync()
    {
        orderItems = await Task.Run(() => OrderStorageService.GetAllOrders());
    }

    private void ShowOrderDetails(OrderModel order)
    {
        NavigationManager.NavigateTo($"/orderdetail/{order.Id}/{UserRegistrationService.CurrentUser.Email}");
    }
}

<style>
    .order-list {
    padding: 10px;
}
.order-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
}
.order-img {
    max-height: 100px;
    object-fit: contain;
}
.order-name {
    font-weight: bold;
    margin-top: 5px;
    font-size: 0.9em;
}
.order-description {
    margin-top: 5px;
    font-size: 0.8em;
}
.order-price {
    margin-top: 5px;
    color: #f00;
    font-size: 0.8em;
}
</style>