@page "/orderdetail/{Id}/{UserEmail}"
@inject OrderStorageService OrderStorageService
@inject UserRegistrationService UserRegistrationService


@if (order == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="order-detail">
        <h2 class="order-title">Order Details</h2>
        <p><strong>Order ID:</strong> @order.Id</p>
        <p><strong>Product ID:</strong> @order.ProductID</p>
        <p><strong>Quantity:</strong> @order.Quantity</p>
        <p><strong>Price:</strong> @order.Price</p>
        <p><strong>Name:</strong> @order.Name</p>
        <p><strong>Description:</strong> @order.Description</p>
        <p><strong>Category:</strong> @order.Category</p>
        <p><strong>Brand:</strong> @order.Brand</p>
        <p><strong>Size:</strong> @order.Size</p>
        <p><strong>Material:</strong> @order.Material</p>
        <p><strong>Country:</strong> @order.Country</p>
        <p><strong>Image:</strong> <img src="@order.Image" alt="@order.Name" /></p>
        <p><strong>Travel Time:</strong> @order.TravelTime</p>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string UserEmail { get; set; }

    private OrderModel order;
    private UserModel user;
    protected override async Task OnInitializedAsync()
    {
        // Task[] tasks = new Task[2];

        // tasks[0] = Task.Run(() => order = OrderStorageService.GetOrder(int.Parse(Id)));
        // tasks[1] = Task.Run(() => user = UserRegistrationService.GetUserEmail(UserEmail));
        await Task.Run(() => user = UserRegistrationService.GetUserEmail(UserEmail));
        await Task.Run(() => order = OrderStorageService.GetOrder(int.Parse(Id), user));
    }
 }

<style>
    .order-detail {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .order-title {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    .order-detail p {
        margin-bottom: 10px;
        color: #666;
    }

    .order-detail img {
        max-width: 100%;
        height: auto;
    }
</style>